/* your styles go here */

html {
    scroll-behavior: smooth;
  }



.row {

    display: flex;

    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 0.5rem;
}

.container p {
    justify-content: center;
    align-items: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    max-height: 500px;
}

#check{
margin-top: -1rem;
padding-left: 0rem;
}